.hero{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("client\src\images\hero1.png");
}

div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: firebrick;
}